form {
  margin: 10px;
}

.container {
  margin: 0 auto;
  text-align: center;
}

#second_container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 60px;
  background-color: orange;
  margin: 10px;
}
