* {
  padding: 0px;
}

body {
  background-color: #02adfb;
}

#outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  background-color: white;
  padding: 70px;
  padding-top: 90px;
  border-radius: 100%;
}

#container {
  color: #1b212c;
  font-family: "Lato", sans-serif;
  text-align: center;
}

header {
  background-color: #02adfb;
  padding: 10px;
  padding-bottom: 20px;
  color: #1b212c;
  font-family: "Lato", sans-serif;
}

h1 {
  margin: 0;
}

section {
  text-align: center;
}

ul {
  list-style-type: none;
  line-height: 1.5em;
}

footer p {
  font-size: 0.7em;
  background-color: #02adfb;
  padding: 5px;
}
